<header class="top-container">
    <div class="top-container__logo-container">
        <a class="top-container__logo-container__link" [routerLink]="['']">
            <fa-icon class="top-container__logo-container__icon" [icon]="faChartBar"></fa-icon>
            <h1 class="top-container__logo-container__link__logo">
                CONSULTA DA TABELA FIPE
            </h1> 
        </a>
    </div>
</header>
<main class="main-container">
    <router-outlet></router-outlet>    
</main>
<footer>
    <div class="social-container">
        <ul class="social-container__social-list">
            <li class="social-container__social-list__item">
                <a class="social-container__social-list__item__link" href="https://github.com/brunohafonso" target="_blank">
                    <img class="social-container__social-list__item__link__icon" src="assets/github.svg" alt="github"/>
                </a>
            </li>
            <li class="social-container__social-list__item">
                <a class="social-container__social-list__item__link" href="" target="_blank">
                    <img class="social-container__social-list__item__link__icon" src="assets/linkedin-logo.svg" alt="linkedin"/>
                </a>
            </li>
            <li class="social-container__social-list__item">
                <a class="social-container__social-list__item__link" href="https://www.facebook.com/brunohafonso" target="_blank">
                    <img class="social-container__social-list__item__link__icon" src="assets/facebook-logo.svg" alt="facebook"/>
                </a>
            </li>
        </ul>
        <p class="social-container__signature">designed by Bruno Afonso</p>
    </div>
    <div class="signature-container"></div>
</footer>


